<:Title>
  Welcome to Injustice Dropper

<:Body>
  <h1>Start</h1>

  <h4>Welcome to Injustice Dropper, your companion to navigating the St Louis Manicipal Court System. What would you like to do?</h4>

  <br>

  <h4>Lookup a:</h4>
  <div class="btn-group btn-group-justified" role="group">
    <a href="/ticket" class="btn btn-default">
      Ticket
    </a>

    <a href="/court" class="btn btn-default">
      Court
    </a>

    <a href="/warrant" class="btn btn-default">
      Warrant
    </a>

  </div>

  <br>

  <h4>Legal Help:</h4>
  <div class="btn-group btn-group-justified" role="group">
    <a href="/legal" class="btn btn-default">
      Find a Lawyer
    </a>

    <a href="/your_rights" class="btn btn-default">
      Know your Rights
    </a>

    <a href="https://www.mobilejusticeca.org/" class="btn btn-default" target="_blank">
      Record an Interaction
    </a>
  </div>

  <br>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>FAQ</h5> 
    </div>
    <div class="panel-body">
      <div> 
        <p>Q: I need to go to court to contest a ticket...</p>
        <p>A: Use the <a href="/court">court locator tool</a> to find which court you should go to.</p>
      </div>
      <div>

    </div>
  </div>

  <div 

