<:Title>
  Welcome to Injustice Dropper

<:Body>
  <h4>Welcome to Unjustice Dropper, your companion to navigating the St Louis Manicipal Court System. What would you like to do?</h4>

  <br>

  <h4>Lookup a:</h4>
  <div class="btn-group btn-group-justified" role="group">
    <a href="/ticket" class="btn btn-default">
      Ticket
    </a>

    <a href="/court" class="btn btn-default">
      Court
    </a>

    <a href="/warrant" class="btn btn-default">
      Warrant
    </a>

  </div>

  <br>

  <h4>Legal Help:</h4>
  <div class="btn-group btn-group-justified" role="group">
    <a href="/legal" class="btn btn-default">
      Find a Lawyer
    </a>

    <a href="/your_rights" class="btn btn-default">
      Know your Rights
    </a>

    <a href="https://www.mobilejusticeca.org/" class="btn btn-default" target="_blank">
      Record an Interaction
    </a>
  </div>

  <br>
  <hr>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>FAQ</h4> 
    </div>
    <div class="panel-body">
      <div> 
        <blockquote><small>
          I need to go to court to contest a ticket. I remember exactly where I was pulled over - I take the same route to school most days – but I’m not sure which court services the area and I know some courts serve multiple municipalities. I can’t figure out where I need to go for court or how to get help with my case.
        </small></blockquote>
        <p>
          Use the <a href="/court">court lookup tool</a> to find which court you should go to.
        </p>
      </div>
      <hr>
      <div>
        <blockquote><small>
          Last month I received a speeding ticket that included information about my court date and rights. I thought I’d put the ticket in a safe place, but I lost it. Now I can’t remember when my court date is, and I’m not sure who to call. To be honest, I’d like to pay the ticket right now without going to court, but there doesn’t seem to be a way.
        </small></blockquote>
        <p>
          Use the <a href="/ticket">ticket lookup tool</a> where you can provide various pieces of identifying information to find your ticket. You can also find out how you can pay from there.
        </p>
      </div>
      <hr>
      <div>
        <blockquote><small>
          I owe fines and fees for several violations. I don’t make enough money at my job to be able to afford to pay - but I am already active volunteering in my community and caring for my neighbors. I wish I knew whether I was eligible to do community service instead of paying fines and fees, how to get credit for the volunteer work I already do, and how to connect with service opportunities that work for my family.
        </small></blockquote>
        <p>
          You can use the <a href="/ticket">ticket lookup tool</a> to find out what outstanding fines you have. From there, you can use the 'Get Legal Help' to find a lawyer (pro bono or otherwise) who can help you work through alternative ways of payment.
        </p>
      </div>
      <hr>
      <div>
        <blockquote><small>
          My license is suspended because I was caught with expired plate tags. I couldn’t renew my plates because I can’t afford to pay my fines, fees, and personal property taxes, which I must pay all at once. I’m working two jobs to earn money - but they are both a half hour drive away and I can’t afford to get pulled over with a suspended license. I’d also like to know whether there’s a warrant out for my arrest, and how to resolve it.
        </small></blockquote>
        <p>
          This is going to be on a case by case basis. The best thing to do is head over to the <a href="/legal">legal help page</a> to find a laywer who can assit you. 
        </p>
      </div>
      <hr>
      <div>
        <blockquote><small>
          I’m a court clerk. I pride myself on providing good service at our court. To help with this, I’d like to know key analytics, such as how long people have to wait in court, and how that compares to other courts and our past performance.
        </small></blockquote>
        <p>
          Thank you for being part of the process of improvment! You can use the <a href="/court">court lookup tool</a> to see how your municipal is doing. While we don't have any tools to do compare munipicals directly, statistics (and ranking) about individual courts are avaliable.
        </p>
      </div>
    </div>
  </div>

  <div 

