<:Title>
  Legal Help

<:Body>
  <h1>Legal Help</h1>

  <div class="panel panel-default">
    <div class="panel-body">
      There are many options in St Louis to help you. Below are some options for finding legal representation. 
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>Finding a Lawyer</h5>
    </div>
    <div class="panel-body">
      <p>The Missouri Bar Association has a list of laywers avaiable to help you through their <a href="http://www.mobar.org/LawyerSearch.aspx">LawyerSearch Tool</a></p>
      <p><a href="http://www.aclu-mo.org/">The Missouri branch of the ACLU</a> can also help find you a laywer that will represent your interests.</p>
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>Pro Bono Legal Help (Discounted or No Cost)</h5>
    </div>
    <div class="panel-body">
      <blockquote>
        <p>ArchCity Defenders strives to prevent and end homelessness among the indigent and working poor in the St. Louis region by providing holistic and civil legal services. To learn more, please visit <a href="www.archcitydefenders.org">www.archcitydefenders.org</a>.</p>

        <p>Catholic Legal Assistance Ministry offers legal representation for families and individuals who do not have the resources to hire a lawyer.  Among other areas of representation, the service offers special projects related to domestic relations, immigration and veterans advocacy. To learn more, please visit <a href="www.ccstl.org/organizations/st-francis-community-services/">www.ccstl.org/organizations/st-francis-community-services/</a>.</p>

        <p>Legal Services of Missouri provides legal help to low-income and elderly people in Missouri. The services are provided by and supported through the efforts of the four legal aid programs in the state. The four legal aid programs include: Legal Services of Eastern Missouri, Legal Aid of Western Missouri, Legal Services of Southern Missouri and Mid-Missouri Legal Services. Applicants seeking assistance should contact the Legal Services program in their area. To learn more, please visit the Legal Services of Missouri website at <a href="www.lsmo.org">www.lsmo.org</a>.</p>

        <p>Gateway Legal Services is a self-funded, non-profit legal aid program that is dedicated to helping poor, disabled people who have been turned down by the government for Social Security disability, SSI benefits or veterans’ disability benefits. The organization also helps people who have been subjected to abusive debt collection practices. To learn more, please visit <a href="www.gatewaylegal.org">www.gatewaylegal.org</a>.</p>

        <p>The Samaritan Center Legal Care is a program affiliated with the Samaritan Center, a multi-service charitable agency based in Jefferson City. The Legal Care program helps those who cannot otherwise afford legal services to have the opportunity for legal assistance through attorneys who volunteer to provide free or reduced cost legal services and through assistance with court and other costs from the Legal Care fund. To learn more, please visit <a href="www.midmosamaritan.org">www.midmosamaritan.org</a>.</p>

        <p>The Representing Yourself website by Missouri’s Courts is designed to provide information, resources and forms for those involved in family law matters in the state of Missouri. To learn more, please visit <a href="http://www.selfrepresent.mo.gov/page.jsp?id=5240">http://www.selfrepresent.mo.gov/page.jsp?id=5240</a>.</p>
      </blockquote>
      <a href="http://missourilawyershelp.org/find-lawyer/discounted-pro-bono-services/">source</a>
    </div>
  </div>


