<:Title>
  Legal Help

<:Body>
  <h1>Legal Help</h1>

  <div class="panel panel-default">
    <div class="panel-body">
      We can help walk you through several options for getting legal help.
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>Find a Lawyer</h5>
    </div>
    <div class="panel-body">
      Find a local Laywer: http://www.mobar.org/LawyerSearch.aspx
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>Pro Bono Legal Help</h5>
    </div>
    <div class="panel-body">
      http://missourilawyershelp.org/find-lawyer/discounted-pro-bono-services/ 

      http://www.archcitydefenders.org/ 
    </div>
  </div>


