<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/">Start Over</:nav>
        <!-- <:nav href="/about">About</:nav> -->
        <!-- <:user_templates:menu /> -->
      </ul>
      <h3 class="text-muted">Unjustice Dropper <small>for stl</small> </h3>
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}


    <div class="row footer">
      <div class="col-md-4">
        <p>&copy; Unjustice Dropper {{ Time.now.year }}</p>
        <p>* Disclaimer: This site is legal advice say our cat overlord. </p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p class="text-right">
          Powered by <a href="http://opendatastl.org/" target="_blank"><img src="https://avatars0.githubusercontent.com/u/5983880" height="50px"/></a>
        </p>
      </div>
    </div>
  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

