<:Title>
  Ticket Lookup

<:Body>
  <h1>Ticket Lookup</h1>

  <p>Please provide two of the following: Citation Number, Citation Date, Driver License Number, Full Name, DOB, Address</p>

  <form e-submit="lookup_citation" role="form">
    <div class="form-group">
      <!-- <label for="exampleInputEmail1">Email address</label> -->
      <input type="text" class="form-control" placeholder="First piece of identification" value="{{ page._search1 }}" />

    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Second piece of identification" value="{{ page._search2 }}" />
    </div>

    <div class="form-group">
      <button e-click="lookup_citation" class="btn btn-default {{unless page._search1 && page._search2 }} disabled {{ end }}">Lookup Ticket</button>
    </div>
  </form>

  <hr>

  <div class="{{ if page._citations.empty? }} hidden {{ end }}"> 
    <h3> {{ page._citations.count }} Citations Found </h3>

    {{ page._citations.each do |citation| }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>Citation: <b>{{ citation._citation_number }}</b></h5>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td> Name </td>
              <td> 
                {{ page._citations.first._first_name }} {{ page._citations.first._last_name }} 
              </td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>{{ page._citations.first._date_of_birth }}</td>
            </tr>
            <tr>
              <td>Citation Number</td>
              <td>{{ citation._citation_number }}</td>
            </tr>
            <tr>
              <td>Citation Date</td>
              <td>{{ citation._citation_date }}</td>
            </tr>
            <tr>
              <td>Court Date</td>
              <td>{{ citation._court_date }}</td>
            </tr>
            <tr>
              <td>Court Location</td>
              <td>{{ citation._court_location }}</td>
            </tr>
            <tr>
              <td>Court Address</td>
              <td>{{ citation._court_address }}</td>
            </tr>
          </table>
        </div>

        {{ citation._violations.each do |violation| }}
          <div class="panel-heading">
            <h5>Violation: <b>{{ violation._violation_number }}</b></h5>
          </div>
          <div class="panel-body">

            <table class="table">
              <tr>
                <td>
                  Violation Number
                </td>
                <td>
                  {{ violation._violation_number}}
                </td>
              </tr>
              <tr>
                <td>
                  Description
                </td>
                <td>
                  {{ violation._violation_description}}
                </td>
              </tr>
              <tr>
                <td>
                  Warrant Status
                </td>
                <td> 
                  {{ violation._warrant_status}}
                </td>
              </tr>
              <tr>
                <td>
                  Warrant Number
                </td>
                <td>
                  {{ violation._warrant_number }}
                </td>
              </tr>
              <tr>
                <td>
                  Status
                </td>
                <td>
                  {{ violation._status }}
                </td>
              </tr>
              <tr>
                <td>
                  Status Date
                </td>
                <td>
                  {{ violation._status_date }}
                </td>
              </tr>
              <tr>
                <td>
                  Fine Amount
                </td>
                <td>
                  {{ violation._fine_amount }}
                </td>
              </tr>
              <tr>
                <td>
                  Court Cost
                </td>
                <td>
                  {{ violation._court_cost }}
                </td>
              </tr>
            </table>

            Percentage of open violations of this type:
            - 40%

            Breakdown of how this type of violation is handled:
            - 10% payment 
            - 50% cont for payment

            <div class="btn-group btn-group-justified" role="group">
                <a href="" class="btn btn-default">Pay Ticket</a>
                <a href="/legal" class="btn btn-default">Get Legal Help</a>
                <a href="https://www.nudgemail.com/" class="btn btn-default"> Set a email reminder </a>
              </div>
          </div>
        {{ end }}
      </div>

      {{ citation.violations.each do |violation| }}
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              
            </table>

            <div>
              Comments about this violation
            </div>

            <br>

            <div class="btn-group btn-group-justified" role="group">
              <a href="" class="btn btn-default">Pay Ticket</a>
              <a href="/legal" class="btn btn-default">Get Legal Help</a>
              <a href="https://www.nudgemail.com/" class="btn btn-default"> Set a email reminder </a>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>Alternatives</h5>
      </div>
      <div class="panel-body">
        Given this type of ticket, here are alternative things you can do: 
        1. Get legal help!
        2. something else
      </div>
    </div>
  </div>

