<:Title>
  Warrant Lookup

<:Body>
  <h1>Warrant Lookup</h1>

  <p>We can help you find any warrants on you. We can also set an alert to notify you should any happen.</p>

  <!-- <div class="input-group"> -->
    <form e-submit="lookup_warrant">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name, First Name" value="{{ page._warrant_lookup }}"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Verification (disabled for demo)">
      </div>
      <div class="form-group">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group">
            <button type="button" e-click="lookup_warrant" class="btn btn-default {{ unless page._warrant_lookup }} disabled {{ end }}">Lookup Warrants</button>
          </div>
          <div class="btn-group">
            <a href="mailto:change@nudgemail.com?Subject=Notification of Warrant Changes for {{page._warrant_lookup}}" class="btn btn-default"> Subscribe</a>
            <!-- <button type="button" class="btn btn-default {{ unless page._warrant_lookup }} disabled {{ end }}">Subscribe</button> -->
          </div>
        </div>
      </div>
    </form>
  <!-- </div> -->

  <hr>

  <div class="{{ if page._warrants.empty? }} hidden {{ end }}">
    <h3> {{ page._warrants.count }} Warrants Found </h3>

    {{ page._warrants.each do |warrant| }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5> Warrant Case Number: {{ warrant._case_number }} </h5>
        </div>

        <div class="panel-body">
          <table class="table">
            <tr>
              <td>Defendant</td>
              <td>{{ warrant._defendant }}</td>
            </tr>
            <tr>
              <td>Zip Code</td>
              <td>{{ warrant._zip_code }}</td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>{{ warrant._date_of_birth }}</td>
            </tr>
            <tr>
              <td>Case Number</td>
              <td>{{ warrant._case_number }}</td>
            </tr>
          </table>
        </div>
      </div>
    {{ end }}
  </div>


